@import '../../../App.scss';


.role-blog{
    .box-roles{
        border: 1px solid lightgray;
        padding: 25px 10px !important;
        border-radius: 5px;
        .box{
            box-shadow: 2px 4px 10px rgba(201, 201, 201, 0.47);
            border: 1px solid $main-color;
            border-radius: 8px;
            overflow: hidden;
            min-height: 175px;
            .header{
                padding: 8px 13px;
                background-color: rgba(211, 211, 211, 0.644);
                color: #222;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
            }
            .chackes{
                padding: 12px !important;
            }
            label{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 5px;
                font-size: 14px;
                input {
                    margin-right: 3px;
                    width: 20px;
                    height: 20px;
                    border: 1px solid $main-color; // Border color for the checkbox
                    border-radius: 4px; // Optional: Adjust the border-radius as needed
                    appearance: none; // Remove default styles
                    outline: none; // Remove default focus style
                    padding: 10px;
                    &:checked {
                        background-color: $main-color; // Background color when checked
                        border-color: $main-color; // Border color when checkedc
                        &::after {
                            content: '\2713'; // Unicode checkmark symbol
                            color: #fff;
                            font-size: 16px;
                            position: relative;
                            left: -6px;
                            bottom: 10px;
                        }
                    }
                }

                span {
                    margin-right: 3px;
                    width: 20px;
                    height: 20px;
                    border: 1px solid $main-color; // Border color for the checkbox
                    border-radius: 4px; // Optional: Adjust the border-radius as needed
                    appearance: none; // Remove default styles
                    outline: none; // Remove default focus style
                    padding: 10px;
                    &:checked {
                        background-color: $main-color; // Background color when checked
                        border-color: $main-color; // Border color when checkedc
                        &::after {
                            content: '\2713'; // Unicode checkmark symbol
                            color: #fff;
                            font-size: 16px;
                            position: relative;
                            left: -6px;
                            bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}

.box-wrong{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    margin-top: 5px;
    p{
        font-weight: 700;
    }
  
}  
.main-btn{
    background-color: $main-color;
    color: #fff;
    transition: all 0.3s ease-in;
    margin: auto;
}
.main-btn:hover{
    background-color: #164d07;
    color: #fff;
}