<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <style>
      * {
        font-family: "Nunito", sans-serif;
        margin: 0;
        padding: 0;
      }
      .row {
        padding: 0 !important;
        margin: 0 !important;
      }
      /* .row>*{
        padding-left: 0 !important;
        padding-right: 0 !important;
      } */
      /* Override padding for children of .row with class .web */

      .row > .web {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
      a {
        text-decoration: none !important;
      }
      button[disabled] {
        cursor: no-drop !important;
      }
      * {
        outline: none !important;
      }
      #rc-anchor-alert,
      .rc-anchor-alert {
        color: red;
        font-size: 9px;
        margin: 2px;
        position: absolute;
        top: 0;
        display: none;
      }

      .rc-anchor.rc-anchor-normal.rc-anchor-light {
        display: none;
      }
    </style>
    <meta name="csrf-token" content="{{ csrf_token() }}" />

    <title>e-smile</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>
