@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
.App {
  font-family: 'Open Sans', sans-serif !important;
}

$main-color: #2cd8ae;
$Vmain-color: #14745c;
$second-color: #14745c;